## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)
len(sample_list_1)

[49, 3, 40, 7, 10, 73, 71, 86, 75, 39, 57, 23, 32, 24, 44, 22, 58, 69, 26, 17, 31, 36, 30, 100, 67, 83, 94, 95, 99, 0, 55, 12, 77, 63, 64, 48, 89, 59, 88, 70, 18, 19, 25, 96, 91, 56, 1, 2, 5, 21, 92, 42, 46, 84, 34, 98, 90, 85, 35, 80, 47, 9, 28, 43, 93, 51, 52, 68, 8, 72, 20, 50, 61, 15, 87, 79, 14, 66, 37, 13]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print('Length of set1 is ', len(set1), '.')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 26, 27, 28, 31, 32, 33, 34, 36, 37, 39, 41, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 82, 84, 85, 86, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
Length of set1 is  80 .

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
len(sample_list_2)
print(sample_list_2)

[21, 31, 78, 52, 82, 24, 74, 74, 81, 53, 86, 48, 70, 84, 46, 52, 5, 85, 81, 43, 96, 77, 85, 35, 93, 98, 88, 74, 36, 13, 28, 27, 53, 56, 72, 7, 7, 1, 51, 93, 66, 86, 29, 61, 15, 84, 44, 0, 47, 6, 67, 73, 98, 11, 36, 82, 70, 30, 19, 88, 45, 57, 4, 33, 23, 68, 85, 83, 97, 96, 12, 91, 78, 91, 90, 87, 46, 18, 83, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)
print('Length of set2 is ', len(set2), '.')

Length of set2 is  58 .

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
# Your code here
set3 = set1 - set2
print('Elements present in set1 but not in set2 are: ', set3)

Elements present in set1 but not in set2 are:  {2, 3, 8, 9, 10, 14, 16, 17, 20, 22, 26, 32, 34, 37, 39, 41, 50, 54, 55, 58, 59, 60, 62, 63, 64, 65, 69, 71, 75, 76, 79, 80, 89, 92, 94, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
# Your code here
set4 = set2 - set1
print('Elements present in set2 but not in set1 are: ', set4)

Elements present in set2 but not in set1 are:  {35, 74, 12, 45, 78, 81, 18, 83, 52, 21, 87, 88, 57, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
# Your code here
set5 = set1.intersection(set2)
print('Elements shared between set1 and set2 are: ', set5)

Elements shared between set1 and set2 are:  {0, 1, 4, 5, 6, 7, 11, 13, 15, 19, 23, 24, 27, 28, 31, 33, 36, 43, 44, 46, 47, 48, 51, 53, 56, 61, 66, 67, 68, 70, 72, 73, 77, 82, 84, 85, 86, 90, 91, 93, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
# Your code here
# len(1) + len(2) = len(3) + len(4) + len(5)*2
seta = len(set1) + len(set2)
setb = len(set3) + len(set4) + len(set5)*2
if (seta == setb):
    print('Difference between the ombination of set3 and that of set1 and set2 is two sets of set5.')
else:
    print('Relationship amongst sets does not exist.')

Difference between the ombination of set3 and that of set1 and set2 is two sets of set5.

#### Create an empty set called `set6`.

In [55]:
# Your code here
set6 = {}
print(set6)

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
# Your code here
set6.add(set3)

TypeError: unhashable type: 'set'

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here